.todo-container {
    width: 500px;
    margin: 5px auto;
    margin-top: 20px;
}
.add-todo-container {
    margin-bottom: 10px;
}
/*.col-md-10 {*/
/*padding: 0;*/
/*}*/
/*.col-md-2 {*/
/*padding-right: 0;*/
/*text-align: right;*/
/*}*/
.col-xs-1{
    padding: 0;
}
.too-small {
    display: none;
}
.too-small {
    display: block;
}
.list-group{
    margin-top: 10px;
}
.btn-remove-all-items{
    height: 265px;
}